In [130]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from prettytable import PrettyTable

#Dataset

In [131]:
table = PrettyTable(["Model", "Score"])

In [132]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/InClassAssignment2/newhousing.csv")

In [133]:
dataset.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,5250000,5500,3,2,1,1,0,1,0,0,0,0,1,0,1833.333333,0.666667
1,4480000,4040,3,1,2,1,0,0,0,0,1,0,1,0,1346.666667,0.333333
2,3570000,3640,2,1,1,1,0,0,0,0,0,0,0,1,1820.000000,0.500000
3,2870000,3040,2,1,1,0,0,0,0,0,0,0,0,1,1520.000000,0.500000
4,3570000,4500,2,1,1,0,0,0,0,0,0,0,0,0,2250.000000,0.500000

In [134]:
dataset.isnull().sum()

price              0
area               0
bedrooms           0
bathrooms          0
stories            0
mainroad           0
guestroom          0
basement           0
hotwaterheating    0
airconditioning    0
parking            0
prefarea           0
semi-furnished     0
unfurnished        0
areaperbedroom     0
bbratio            0
dtype: int64

In [135]:
X = dataset.drop('price', axis=1)
y = dataset[['price']]

In [136]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, 
                                                    random_state=49, shuffle=True)

#Linear Regression

In [137]:
from sklearn.linear_model import LinearRegression
linear_regressor = LinearRegression()
linear_regressor.fit(X_train, y_train)
lr_score = linear_regressor.score(X_test, y_test)
table.add_row(["Linear Regression", lr_score])

#Random Forest

In [138]:
from sklearn.metrics.cluster import entropy
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor(n_estimators=500, random_state=49)
RF.fit(X_train, y_train)
rf_score = RF.score(X_test, y_test)
table.add_row(["Random Forest Regression", rf_score])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

#PCA

In [139]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_scaled = sc.fit_transform(X)
y_scaled = sc.fit_transform(y)

In [140]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5, random_state=42)
pca.fit(X_scaled)
X_pca = pca.transform(X_scaled)

In [141]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, y_scaled, test_size=0.15, random_state=49)

##PCA + Linear Regression

In [142]:
linear_regressor.fit(X_train, y_train)
pcalr_score = linear_regressor.score(X_test, y_test)
table.add_row(["Linear Regression + PCA", pcalr_score])

##PCA + Random Forest

In [143]:
RF.fit(X_train, y_train)
pcarf_score = RF.score(X_test, y_test)
table.add_row(["Random Forest + PCA", pcarf_score])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [144]:
print(table)

+--------------------------+--------------------+
|          Model           |       Score        |
+--------------------------+--------------------+
|    Linear Regression     | 0.7735263632954656 |
| Random Forest Regression | 0.7103194975475955 |
| Linear Regression + PCA  | 0.7578955480390192 |
|   Random Forest + PCA    | 0.7245641365529298 |
+--------------------------+--------------------+

The best score is normal Linear Regression.